:root {
  --color-nav: rgb(131, 129, 129);
  --color-nav-dark: rgb(28, 52, 75);
  --color-section: rgb(131, 129, 129);
  --color-aside: rgb(153, 132, 10);
  --color-footer: rgb(25, 0, 255);
  --color-red: rgb(225, 29, 29);
  --color-grey: rgb(192, 191, 191);
  --color-black: #000000;
  --color-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Trebuchet MS";
}

@media screen and (min-width: 798px) {
  .nav-container {
    display: flex;
  }
}

.nav-container__item1 {
  flex-grow: 1;
  text-align: center;
  line-height: 2.5;
  background: var(--color-red);
   margin: 1rem;
  padding: 1rem;
}

.nav-container__link1 {
  color: var(--color-white);
  display: block;
}

.nav-container__item2 {
  flex-grow: 1;
  text-align: center;
  line-height: 2.5;
  background: var(--color-red);
   margin: 1rem;
  padding: 1rem;
}

.nav-container__link2 {
  color: var(--color-white);
  display: block;
}

.nav-container__item3 {
  flex-grow: 1;
  text-align: center;
  line-height: 2.5;
  background: var(--color-red);
   margin: 1rem;
  padding: 1rem;
}

.nav-container__link3 {
  color: var(--color-white);
  display: block;

}

@media screen and (min-width: 798px) {
  .nav-container {
    display: flex;
  }
  .nav-container__item {
    flex-grow: 1;
  }
}

.main-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
     line-height: 2.5;

}

@media screen and (min-width: 1024px){
    .main-container{
        display: flex;
        flex-direction: row;
    }

 .main-container__section{
        flex-basis: 100%;
          line-height: 5;
    }

    .section2{
      flex-basis: 100%
    }

}

.main-container__section{
    background-color: var(--color-section);
    color: var(--color-white);
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

section2{
    background-color: var(--color-footer);
    color: var(--color-white);
    line-height: 10;
    text-align: center;
    margin-top: auto; /*siempre abajo*/
}