:root {
  --color-nav: rgb(157, 156, 156);
  --color-section: rgb(107, 107, 107);
  --color-red: rgb(225, 29, 29);
  --color-grey: rgb(192, 191, 191);
  --color-black: #000000;
  --color-white: #ffffff;
}

body {
  background: var(--color-white);
  color: #000000;
  font-family: "Trebuchet MS";
}

.contenedor {
  text-align: justify;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(4, auto);

  grid-template-areas:
    "logo logo logo"
    "banner banner banner"
    "uno uno uno"
    "dos tres cuatro"
    "cinco cinco cinco";
}

.contenedor > div,
.contenedor .logo,
.contenedor .banner,
.contenedor .uno,
.contenedor .dos,
.contenedor .tres,
.contenedor .cuatro,
.contenedor .cinco {
  color: var(--color-white);


}

.contenedor .logo {
  background: var(--color-red);
  grid-area: logo;
  text-align: center;
 background-image: url(../images/salsa.jpg);

  margin: 5px;
  padding: 5px;

}

.contenedor .logo .img {
 width: 100%;
 background-repeat: no-repeat;


}

.contenedor .banner {
  background: var(--color-nav);
  grid-area: banner;
  text-align: center;
    margin: 5px;
  padding: 5px;


}




.contenedor .uno {
  background: var(--color-section);
  text-align: center;
  display: flex;
  align-items: stretch;
  justify-content: center;
  grid-area: uno;
   margin: 5px;
  padding: 5px;

}



.contenedor .dos,
.contenedor .tres,
.contenedor .cuatro {
  background: var(--color-red);
  height: 90%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 5px;
}

.contenedor .dos {
  grid-area: dos;
}

.contenedor .tres {
  grid-area: tres;
}

.contenedor .cuatro {
  grid-area: cuatro;
}

.contenedor .cinco {
  background: var(--color-section);
    height: 90%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: cinco;
  margin: 5px;
  padding: 5px;
}

@media screen and (max-width: 800px){
  .contenedor{
    grid-template-areas:  "logo banner banner"
                          "uno uno uno"
                          "dos tres cuatro"
                          "cinco cinco cinco"; 
  }
}

@media screen and (max-width: 400px){
  .contenedor{
    grid-template-areas:  "logo logo logo"
                          "banner banner banner"
                          "uno uno uno"
                          "dos dos dos"
                           "tres tres tres"
                            "cuatro cuatro cuatro"
                          "cinco cinco cinco"; 
  }
}

