:root {
  --color-nav: rgb(131, 129, 129);
  --color-nav-dark: rgb(28, 52, 75);
  --color-section: rgb(131, 129, 129);
  --color-aside: rgb(153, 132, 10);
  --color-footer: rgb(25, 0, 255);
  --color-red: rgb(225, 29, 29);
  --color-grey: rgb(192, 191, 191);
  --color-black: #000000;
  --color-white: #ffffff;
}

body {
  background: #bfbaba;
  color: #000000;
  font-family: "Trebuchet MS";
}

.contenedor {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(5, auto);

  grid-template-areas:
    "logo banner banner"
    "uno uno uno"
    "dos tres cuatro"
    "cinco cinco cinco";
}

.contenedor > div,
.contenedor .logo,
.contenedor .banner,
.contenedor .uno,
.contenedor .dos,
.contenedor .tres,
.contenedor .cuatro,
.contenedor .cinco {
  color: #ffffff;
  margin: 5px;
  padding: 5px;
}

.contenedor .logo {
  background: #dd1010;
  grid-area: logo;
  text-align: center;
  min-height: 100px;

}

.contenedor .banner {
  background: #a09a9a;
  grid-area: banner;
  text-align: center;
  min-height: 100px;

}

.contenedor .uno {
  background: #524e4e;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: uno;
}

.contenedor .cinco {
  background: #524e4e;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: cinco;
  margin-top: 2rem;
}

.contenedor .dos,
.contenedor .tres,
.contenedor .cuatro {
  background: #dd1010;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 5px;
}

.contenedor .dos {
  grid-area: dos;
}

.contenedor .tres {
  grid-area: tres;
}

.contenedor .cuatro {
  grid-area: cuatro;
}

@media screen and (max-width: 768px){
 .contenedor .logo {
   grid-row: span 1 ;
   grid-column: span 3 ;
 }

 .contenedor .banner {
  grid-row: span 1  ;
  grid-column: span 3 ;
 }

 .contenedor .uno {
   grid-row: span 1 ;
   grid-column: span 3 ;
 }

 .contenedor .dos {
   grid-row: span 1 ;
   grid-column: span  ;
 }

 .contenedor .tres {
   grid-row: span 1 ;
   grid-column: span  ;
 }

 .contenedor .cuatro {
   grid-row: span 1 ;
   grid-column: span  ;
 }

 .contenedor .cinco {
   grid-row: span 1 ;
   grid-column: span   ;
 }

}




